@mixin scroll{
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #E4E6EC;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #6f6f6f;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    //background: $green;
  }
}
